<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cards - UshaKonnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
          <img src="{{ url_for('static', filename='images/UshaKonnect.png') }}" alt="Logo" class="logo">
          <h1 class="navbar-name">UshaKonnect</h1>
          <div class="nav-icons">
          {% if user['date_of_birth'] %}
            <img src="{{ url_for('static', filename='images/notification.png') }}" alt="Logo" class="notif" >
          {% else %}
            <img src="{{ url_for('static', filename='images/notificationNR.png') }}" alt="Logo" class="notif" onclick="notifhandle()">
            <div class="dropdown-menu">
              <a class="notiflg" onclick="window.location.href='{{ url_for('notActivated') }}'" >Activate your account</a>
          </div>
          {% endif %}
            <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logo" class="logout" onclick="window.location.href='{{ url_for('logout') }}'">
          </div>
        </div>
    </nav>
    <div class="content">
        <div class="card-section">
            <div class="mycard">
                <h1 class="mycardH1">My cards</h1>
            </div>

            <div class="card">
                <div class="card-details">
                    <div class ="top-details">
                      <img src="{{ url_for('static', filename='images/UshaKonnect.png') }}" alt="Logo" class="details-logo">
                      <p class="eur">EUR</p>
                    </div>
                    <p class="card-number">{{ cardNumber }}</p> 
                    <p class="expiry">{{ expiration }}</p>
                    <div class="card-info">
                        <p class="balance">{{ balance }}€</p>
                        <p class="bank-name">UshaKonnect</p>
                    </div>
                </div>
            </div>

            {% if user['date_of_birth'] %}
                <button class="transfer-funds">Transfer Funds</button>
                <button class="transfer-funds" onclick="handleMenu()">Add Transaction</button>
            {% endif %}

            
        </div>

        <div id="popupMenu" class="popup-menu">
            <button id="closeMenuBtn" onclick="handleCloseMenu()">Close</button>
            <form action="/home" method="POST" id="inputs">
                <input name="name" type="text" placeholder="From/To" required>
                <div class="dates">
                    <input name="date" class="date" type="date" required>
                    <input name="time" class="time" type="time" required>
              </div>
              <input name="amount" type="text" placeholder="+/-50" required>
              <input type="hidden" name="form_type" value="transaction">
              <div class="submit">
                  <button id="sendBtn">Submit</button>
              </div>
            </form>
        </div>

        <div class="right-side">
            <div class="transaction-buttons">
                <button class="btn-transaction" onclick="handleTransactionClick()">Transactions</button>
                <button class="btn-stat" onclick="handleStatClick()">Statistics</button>
            </div>
            
            <div class="transactions">
                <div class="transaction-list">
                    {% for transaction in transactions | reverse %}
                    <div class="transaction {% if loop.index == 1 %}today{% endif %}">
                        <span>{{ transaction['execution_date'] }}</span>
                        <span>{{ transaction['execution_hour'] }}</span>
                        <span>{{ transaction['destination'] }}</span>
                        <span class="amount {% if transaction['amount'].startswith('-') %}negative{% else %}positive{% endif %}">{{ transaction['amount'] }}</span>
                  </div>
                {% endfor %}
              </div>
            </div>
                       
            <div class="statistics" id="statdiv" style="display: none;">
              <h1>Some stats ...</h1>
            </div>
        </div>
    </div>
  <script src="../../static/js/homeAnimButton.js"></script>
</body>
</html>
