body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 1) 10%, rgba(198, 153, 7, 0.8109) 53%, rgba(0, 0, 0, 0.67) 86%),
  linear-gradient(to top right, rgba(0, 0, 0, 1) 10%, rgba(198, 153, 7, 0.8109) 53%, rgba(0, 0, 0, 0.67) 86%);
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  justify-content:center;
  align-items:center;
}

.logo {
  top: 20px;
  left: 40px;
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logout {
  color: white;
  top: 20px;
  width: 20px;
  height: auto;
}

.nav-icons {
  margin-left: auto;
  margin-right: 80px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 30px;
  margin-bottom: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-name {
  color: white;
  font-size: 18px;
  margin: 0;
}

.admin-container {
    display: flex;           
    justify-content: center;   
    align-items: center;     
    width: 50%;                
    position: fixed;         
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%);
}

.search-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    flex-direction row;
}

.header-info {
    display: flex;       
    justify-content: center;   
    align-items: center;       
    text-align: center;     
    flex-direction: column;  
}

.greeting {
    color: #FFD700;
    font-size: 2.5rem;
    flex-grow: 1;
}

.info-button {
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.info-button:hover {
    background-color: #d4a008;
}

.styled-input {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #FFD700;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    width: 250px;
}


.intro {
    font-size: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
